# Descriptive Statistics

In [4]:
import pandas as pd
df = pd.read_csv('test.csv')

## SUM

In [10]:
print (df['Voltage (v)'].sum())

10234.080000000002

In [11]:
print (df.sum())

RecordDateTime           8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...
Voltage (v)                                                        10234.1
Signal Strength (dBm)                                                -5837
Battery Charge (V)                                                 351.968
dtype: object

## Mean

In [12]:
df.mean()

Voltage (v)              117.633103
Signal Strength (dBm)    -67.091954
Battery Charge (V)         4.045606
dtype: float64

In [13]:
df['Signal Strength (dBm)'].mean()

-67.0919540229885

## std

In [14]:
df.std()

Voltage (v)              125.340096
Signal Strength (dBm)      2.604255
Battery Charge (V)         0.180580
dtype: float64

In [15]:
df['Battery Charge (V)'].std()

0.18058029357174937

## count

In [16]:
df.count()

RecordDateTime           87
Voltage (v)              87
Signal Strength (dBm)    87
Battery Charge (V)       87
dtype: int64

## median

In [17]:
df.median()

Voltage (v)               0.000000
Signal Strength (dBm)   -67.000000
Battery Charge (V)        4.135484
dtype: float64

## mode

### Mode (statistics) The mode of a set of data values is the value that appears most often. It is the value x at which its probability mass function takes its maximum value. In other words, it is the value that is most likely to be sampled.

In [19]:
df.mode();

## max, min, abs

In [20]:
df.max()

RecordDateTime           8/28/2018 9:46:20 AM
Voltage (v)                            253.26
Signal Strength (dBm)                     -61
Battery Charge (V)                    4.23226
dtype: object

In [21]:
df.min()

RecordDateTime           8/28/2018 10:01:21 AM
Voltage (v)                                  0
Signal Strength (dBm)                      -79
Battery Charge (V)                     3.73548
dtype: object

In [24]:
df['Signal Strength (dBm)'].abs().head(10)

0    65
1    65
2    65
3    65
4    65
5    65
6    65
7    65
8    65
9    65
Name: Signal Strength (dBm), dtype: int64

## prod

### product of the value

In [25]:
df.prod()

Voltage (v)               0.000000e+00
Signal Strength (dBm)   -7.814241e+158
Battery Charge (V)        5.885086e+52
dtype: float64

## cumulative sum(works on string) and prod(doesn't work on string)

In [26]:
df.cumsum().head(10)

,RecordDateTime,Voltage (v),Signal Strength (dBm),Battery Charge (V)
0,8/28/2018 12:01:21 AM,251.78,-65,4.2
1,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM,504,-130,8.40645
2,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...,757.22,-195,12.6258
3,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...,1008.28,-260,16.8516
4,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...,1260.15,-325,21.0645
5,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...,1512.46,-390,25.271
6,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...,1764.21,-455,29.4774
7,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...,2017.16,-520,33.7032
8,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...,2270.26,-585,37.9161
9,8/28/2018 12:01:21 AM8/28/2018 12:16:20 AM8/28...,2522.79,-650,42.1355

In [28]:
df['Battery Charge (V)'].cumprod().head(10)

0    4.200000e+00
1    1.766710e+01
2    7.454375e+01
3    3.150075e+02
4    1.327096e+03
5    5.582365e+03
6    2.348195e+04
7    9.923017e+04
8    4.180471e+05
9    1.763889e+06
Name: Battery Charge (V), dtype: float64

## describe

### This function gives the mean, std and IQR values. And, function excludes the character columns and given summary about numeric columns. 'include' is the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. Takes the list of values; by default, 'number'. 

object − Summarizes String columns
number − Summarizes Numeric columns
all − Summarizes all columns together (Should not pass it as a list value)

In [31]:
df.describe(include=['object'])

              RecordDateTime
count                     87
unique                    87
top     8/28/2018 2:31:20 PM
freq                       1

In [32]:
df.describe(include='all')

,RecordDateTime,Voltage (v),Signal Strength (dBm),Battery Charge (V)
count,87,87.000000,87.000000,87.000000
unique,87,NaN,NaN,NaN
top,8/28/2018 2:31:20 PM,NaN,NaN,NaN
freq,1,NaN,NaN,NaN
mean,NaN,117.633103,-67.091954,4.045606
std,NaN,125.340096,2.604255,0.180580
min,NaN,0.000000,-79.000000,3.735484
25%,NaN,0.000000,-69.000000,3.870968
50%,NaN,0.000000,-67.000000,4.135484
75%,NaN,251.045000,-65.000000,4.200000
max,NaN,253.260000,-61.000000,4.232258

In [33]:
df.describe()

       Voltage (v)  Signal Strength (dBm)  Battery Charge (V)
count    87.000000              87.000000           87.000000
mean    117.633103             -67.091954            4.045606
std     125.340096               2.604255            0.180580
min       0.000000             -79.000000            3.735484
25%       0.000000             -69.000000            3.870968
50%       0.000000             -67.000000            4.135484
75%     251.045000             -65.000000            4.200000
max     253.260000             -61.000000            4.232258